@model IEnumerable<h37.Models.ViewModels.ProjectViewModels>
@{
    ViewBag.Title = "Index";
}

<h2>Welcome user...</h2>
<section id="projectList">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xs-4 project table-bordered">
                <h2>@Html.DisplayFor(modelItem => item.projectName)</h2>
                <p>Number of files: @Html.DisplayFor(modelItem => item.numberOfFiles)</p>
                @Html.ActionLink("Edit", "Edit", new { projectID = item.projectID }, new { @class = "btn btn-primary" })
            </div>
        }
    </div>
</section>


<section id="createProject">
    @using (Html.BeginForm())
    {
        @Html.ActionLink("Create Project", "CreateProject", "Project")
    }
</section>
