body {
}

h2 {
    text-decoration: underline;
}

#welcome {
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

#information {
    padding-top: 0.7em;
    padding-bottom: 0.2em;
}

#bg-right {
    background-color: lightblue;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 90%;
    right: 0%;
    z-index: -1;
}

#bg-left {
    background-color: lightblue;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 90%;
    z-index: -1;
}

#bg-bottom {
}


#register-thing {
    padding-left: 15px;
}

#mydiv {
    display: inline-block;
    float: left;
    position:absolute;
    top: 50%;
    left: 50%;
    width:25em;
    height:20em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

ul {
    list-style-type: none;
}

.btn-primary {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    border-style: solid;
    border-color: dodgerblue;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

#top-row-btn {
    margin-bottom: 0px;
}

.big-success-btn {
    border-style: solid;
    border-color: forestgreen;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar {
}

.bar-of-right {
    float: right;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-inverse {
    background-color: lightblue;
    border-color: lightblue;
    margin-bottom: 0px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

.col-xs-4 {
    position: relative;
    min-height: 1px;;
    width: 100%;
    float: left;
    border-color: red;
}

#foo {
    margin: auto;
    text-align: center;
    line-height: 6.7;
    background-color: white;
    color: blue;
    border-color: red
    
}

.editor-right {
    width: 70%;
    height: 100%;
    float: right;
}

.editor-left {
    float: left;
    width: 27.5%;
    height: 100%;
}