body {
}

h2 {
    padding-top: 15px;
    text-decoration
}

#welcome {
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

#information {
    padding-top: 0.7em;
    padding-bottom: 0.2em;
}

#bg-right {
    background-color: #c1cfda;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 95%;
    right: 0%;
    z-index: -1;
}

#bg-left {
    background-color: #c1cfda;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 95%;
    z-index: -1;
}

#bg-bottom {
}


#register-thing {
    padding-left: 15px;
}

#mydiv {
    display: inline-block;
    float: left;
    position:absolute;
    top: 50%;
    left: 50%;
    width:25em;
    height:20em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
}

ul {
    list-style-type: none;
}

.btn-primary {
    border-style: solid;
    border-color: dodgerblue;
    float: left;
}

.primary-bigger {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 8px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;

}

#top-row-btn {
    margin-bottom: 0px;
}

.big-success-btn {
    border-style: solid;
    border-color: forestgreen;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar {
}

.bar-of-right {
    float: right;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-inverse {
    background-color: #c1cfda;
    border-color: #c1cfda;
    margin-bottom: 0px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    border-width: 0 0 1px;
}

.col-xs-4 {
    margin: 1px 1px 1px 1px;
    position: relative;
    min-height: 140px;
    width: 33%;
    float: left;
    border-color: #c1cfda;
}

.col-xs-12 {
    margin: 1px 1px 1px 1px;
    position: relative;
    min-height: 1px;
    width: 100%;
    float: left;
    border-color: #c1cfda;

}

#foo {
    text-align: center;
    width: 100%;
    line-height: 7.6;
    background-color: white;
    color: #605f5e;
    border-color: red
}

.foo-fang {
    padding-right: 0px;
    padding-left: 0px;
}

.editor-right {
    float: right;
    width: 70%;
    height: 100%;

}

.editor-left {
    float: left;
    width: 27.5%;
    height: 100%;
}

#eventLog {
    border: 2px solid #c1cfda;
}

.border-carrier {
    position:absolute;
    left:37.75%;
    top:12%;
    bottom:3%;
    border-left:1px solid gray;
}

#haus2 {
    margin-bottom: 20px;
}

#haus3 {
    right: -50px;
    width: 50%;
    position: relative;
    float: left;
}

.align-the-editor {
    margin-top: 10px;
    color: #c1cfda;
}

.to-right {
    float: right;
    width: 30%;
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.to-left {
    word-wrap: break-word;
    float: left;
    width: 60%;
}

.button-size-1 {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
    border: 3px solid #c1cfda;
}

.button-size-2 {
    float: initial;
    position: relative;
    width: 33%;
    margin-top: 3px;
    margin-bottom: 1px;
    border: 3px solid #c1cfda;
}

.button-size-3 {
    position: relative;
    top: -37px;
    right: -20px;
    float: right;
    width: 50%;
    border: 3px solid #c1cfda;
}

.button-size-4 {
    margin-top: 10px;
    float: right;
    border: 3px solid #c1cfda;
}

.button-size-5 {
    float: right;
    border: 3px solid #c1cfda;
    margin-top: -56px;
}

.button-size-6 {
    margin-right: -70px;
    float: right;
    width: 40%;
    border: 3px solid #c1cfda;
}

.button-size-7 {
    margin-top: 10px;
    float: right;
    width: 14%;
    border: 3px solid #c1cfda;
}

.button-size-8 {
    margin-top: -50px;
    float: right;
    width: 14%;
    border: 3px solid #c1cfda;

}

.left-float-dropdown {
    width: 85%;
    left: -19px;
    float: left;
    margin-bottom: 10px;
}

.left-float-input {
    width: 85%;
    left: -19px;
    position: relative;
    float: left;
}

.event-table {
    position: relative;
    border-bottom: 2px solid #c1cfda;
    width: 95%;
    margin-bottom: 10px;
}

.on-the-left {
    word-wrap: break-word;
    float: left;
    width: 66%;
}

.create-dropdown {
    float:initial;
    margin-top: 8px;
    margin-left: -20px;
}

.create-btn {
    margin-top: -37px;
    margin-right: -13px;

}