@model h37.Models.ViewModels.ProjectEditViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<section id="fileList">
    <h2>Your projects</h2>
    <div class="row">
        @foreach (var item in Model.fileList)
        {
            <div class="col-xs-4 project table-bordered">
                <h2>Name: @Html.DisplayFor(x => item.fileName)</h2>
                @Html.ActionLink("Edit", "EditFile", "Project", new { fileID = item.fileID }, new { @class = "btn btn-primary" })
            </div>
        }

    </div>
</section>


<!--This is the div for the ace editor-->
<div id="editor">
    function foo(items) {
    var x = "All this is syntax highlighted";
    return;
    }
</div>

<!--This is a script for the ace editor-->
@section scripts
{
    <script src="~/3rdParty/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
    </script>
}
